127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

10.10.10.250 control.example.com control
10.10.10.250 repo.example.com repo
10.10.10.250 ntp.example.com ntp

{% for host in groups['all'] %}
{{ hostvars[host].ansible_eth1.ipv4.address }} {{ hostvars[host].ansible_nodename }} {{ hostvars[host].ansible_hostname }}
{% endfor %}
